html, body {
  height: 100%;
  width: 100%;
  background-color: #626293;
}
h1{
  color: white;
  font-size: 30px;
}
h2{
  color: white;
  font-size: 30px; 
}

#navegar{
  color: white;
  font-size: 30px;
}

#Prime{
  color: white;
  font-size: 20px;
}
#rodapé{
  color: white;
  font-size: 20px;
}
#Part{
  color: white;
  font-size: 20px;
}
#Ppod{
  
}
#Ptut{
  
}




